.citys{
    .citys_t{
        padding-left:0.4rem;
        padding-bottom:0.72rem;
        // height:5.386667rem;
    }
    .citys_c{
        background:#F8F8F8;
        padding-left:0.4rem;
        p{
            line-height:1.853333rem;
            font-size:0.4rem;
            font-weight: bold;
            color:#4F5052;
        }
        ul{
            li{
                font-size:0.4rem;
                line-height:1.173333rem;
                float:left;
                width:1.853333rem;
            }
        }
    }
    .citylist{
        p:first-child{
            background:#EEEEEE;
            height:0.773333rem;
            line-height:0.773333rem;
            font-weight: bold;
        }
        p{
            height:1.586667rem;
            line-height:1.586667rem;
            border-bottom:2px solid #ccc;
            padding:0 0.4rem 0 0.4rem;
            font-size:0.373333rem;
            margin-bottom:0;
        }
    }
    .searchNav{
        line-height:1.093333rem;
        background:#fff;
        width:100%;
        z-index:20;
        padding-right:0.4rem;
        i{
            font-size:0.466667rem;
        }
        span{
            font-size:0.466667rem;
            color:#969696;
            float:right;
        }
        input{
            height:0.986667rem;
            width:100%;
            color:#585858;
            font-size:0.56rem;
            border:1px solid #fff;
            font-weight: bold;
        }
    }
}
.city_location{
    position:fixed;
    right:0.133333rem;
    top: 20%;
    p{
        text-align: center;
        margin-bottom:0;
        color:#EF9D9F;
    }
    li{
        width:0.426667rem;
        text-align: center;
        font-size:0.266667rem;
        color:#EF9D9F;
    }
}
.back-top{
    position:fixed;
    top:70%;
    right:10%;
}