.citys{
    .citys_t{
        padding-left:0.4rem;
        height:5.386667rem;
        background:red;
    }
    .citys_c{
        background:#F8F8F8;
        padding-left:0.4rem;
        p{
            line-height:1.853333rem;
            font-size:0.4rem;
            font-weight: bold;
            color:#4F5052;
        }
        ul{
            li{
                font-size:0.4rem;
                line-height:1.173333rem;
                float:left;
                width:1.853333rem;
            }
        }
    }
    .citylist{
        p{
            height:1.586667rem;
            line-height:1.586667rem;
            border-bottom:2px solid #ccc;
            padding:0 0.4rem 0 0.4rem;
            font-size:0.373333rem;
            margin-bottom:0;
        }
    }
}
.city_location{
    position:fixed;
    right:0.133333rem;
    top:5.706667rem;
    li{
        width:0.426667rem;
        text-align: center;
        font-size:0.266667rem;
        color:#EF9D9F;
    }
}