.main{
    padding:0.666667rem 0 0 0.373333rem;
    overflow:hidden;
        // overflow-y:hidden;
    .pic{
        width:(3.533333rem+0.16rem)*3;
        overflow:hidden;
        // display:flex;
        li{
            width:30%;
            // flex:1/3;
            height:2.266667rem;
            background:#fff;
            float:left;
            padding-right:0.16rem;
            position:relative;
            u{
                font-size:0.346667rem;
                color:#fff;
                font-weight:900;
                position:absolute;
                left:0.266667rem;
                top:0.266667rem;
            }
            img{
                width:100%;
                height:100%;
            }
        }
    }
    h3{
        font-size:0.426667rem;
        margin:0;
        margin-top:0.453333rem;
        span{
            display:inline-block;
            width:0.693333rem;
            height:0.453333rem;
            font-size:0.213333rem;
            color:#fff;
            background:#FB8C9F;
            text-align:center;
            line-height: 0.453333rem;
            border-radius:0.066667rem;
            float:left;
            margin-right:0.2rem;
        }
        b{
            float:left;
            line-height: 0.453333rem;
        }
    }
    p{
        font-size:0.293333rem;
        line-height: 1.066667rem;
        b{
            color:#949494;
            display:inline-block;
            margin-right:5.6rem;

        }
        span{
                margin-left:0.133333rem;
        }
    }
}