.release{
    .head{
        height:1.72rem;
        border:0.013333rem solid #ccc;
        padding-left:0.266667rem;
        i{
            line-height:1.72rem;  
        }
    }
    .mains{
        margin:0 0.266667rem;
        .mains_t{
            border-bottom:7px solid #EEEEEE;
            span{
                width:2.213333rem;
                font-size:0.453333rem;
                font-weight: bold;
                line-height:2.213333rem;
                display:block;
                float:left;
            }
            i{
                font-size:0.533333rem;
                float:right;
                line-height:2.213333rem;
            }    
        }
        .mains_c{
            ul li:first-child{
                width:25%;
            }
            ul li:last-child{
                width:65%;
                margin-left:10%;
            }
            li{
                float:left;
                border-bottom:1px solid #ccc;
                span{
                    display:block;
                    padding-top:0.64rem;
                    font-size:0.32rem;
                    font-weight: bold;
                }
                p{
                    font-size:0.4rem;
                    font-weight: bold;
                    color:#DADADA;
                    line-height:1.04rem;
                }
            }
            .timeout{
                padding-top:0.8rem;
                border-bottom:1px solid #ccc;
                p{
                    font-size:0.32rem;
                    font-weight: bold;
                    margin-bottom:0;
                }
                p:last-child{
                    font-size:0.4rem;
                    color:#AAAAAA;
                    line-height:1.093333rem;
                }  
            }
        }
        .mains_b{
            .mains_b>p{
                padding-top:0.666667rem;
                font-weight: bold;
                font-size:0.293333rem;
            }
            ul{
                display:flex;
                border-bottom:1px solid #ccc;
                li{
                    line-height:1.546667rem;
                    flex:1;
                    text-align: center;
                    font-weight: bold;
                    font-size:0.4rem;
                }
            }
            .mains_b_room{
                height:2.373333rem;
                border-bottom:1px solid #ccc;
            }
            .mains_b_price{
                height:3.2rem;
            }
        }

    } 
}
.release1{
    position:fixed;
    bottom:0;
    z-index: 10;
    background:#fff;
    width:100%;
    img{
        margin-left:0.133333rem;
    }
}