.header{
    text-align: center;
    font-size: 0.466667rem;
    line-height: 1.186667rem;
    display: flex;
    justify-content:space-between;
    margin-bottom: 0.906667rem;
    padding-bottom: 0.133rem;
    border-bottom: 0.013rem solid grey;
}
.new{
    margin-bottom: 1.066667rem;
    input{
        border: 0;
        font-size: 0.413333rem;
        margin-bottom: 0.24rem;
    };
    p{
        margin-bottom: 0.346667rem;
        font-size: 0.373333rem;
    }
    border-bottom: 0.013rem solid grey;
}
.new1{
    margin-bottom: 1.946667rem;
}
.save{
    width: 100%;
    background-color: pink;
    color:white;
    text-align: center;
    height: 100px;
}