.order{
    display:flex;
    flex-direction:column;
    height:20.0rem;
    .active{
        span{
            color:pink;
            padding-bottom:0.16rem;
            border-bottom:0.053333rem solid pink;
        }
    }
    &>p{
        text-align: center;
        font-size: 0.426667rem;
        margin: 0;
        height: 1.2rem;
        line-height: 1.2rem;
    }
    .ord{
        background:#ddd;
        flex:1;
        overflow-x:hidden;
    }
    ul{
        height: 1.066667rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        line-height:1.066667rem ;
        display: flex;
        text-align: center;
        li{
            flex:1;
            font-size: .426667rem;
            span{
                color:#999;
                cursor: pointer;
            }
        }
    }
    .order_bg{
        width: 100%;
        height: 14.213333rem;
        background: #F0F0F0;
        padding-top: 4.306667rem;
        div{
            text-align: center;
        }
        p{
            text-align: center;
            color:#A9A9A9;
            line-height: 1.733333rem;
        }
    }
}
.orderlist{
    border-top: 0.266667rem solid #EDEDED;
    dt{
        padding: 0.173333rem 0.36rem 0.133333rem 0.266667rem;
        display:flex;
        justify-content:space-between;
        border-bottom: 0.013333rem solid #E0E0E0;
        margin-bottom: 0.4rem;
        p{
            width: 5.933333rem;
            font-size: 0.36rem;
            line-height: 0.44rem;
            color:#898989;
            font-weight: bold;
        }
        span{
            font-size: 0.346667rem;
            line-height: 0.8rem;
            color:#9F9F9F;
        }
    }
    dd{
        display:flex;
        padding: 0 0.266667rem 0.4rem;
        div{
            width: 2.133333rem;
            height: 1.6rem;
        }
        .o_content{
            flex:1;
            padding-left: 0.266667rem;
            p{
                font-size: 0.346667rem;
                line-height: 0.533333rem;
                color:#838383;
            }
            p:nth-child(2){
                display:flex;
                justify-content:space-between;
            }
        }
    }
}