.sare{
    display:flex;
    flex-direction:column;
    height:100%;
    background:#fff;
    position:fixed;
    z-index:10;
}
    header{
        height:1.066667rem;
        border-bottom:0.013333rem solid #ccc;
        padding:0.266667rem 0.266667rem;
        p{
            display:flex;
            justify-content:space-between;
            
            i{
                font-size:0.373333rem;
                color:orange;
            }
        }
    }
.content{
    padding:0.266667rem;
    overflow-x:hidden;
    h2{
        font-size:0.48rem;
        margin:0.4rem 0;
    }
    p{
        text-indent:2em;
        font-size:0.373333rem;
        line-height: 0.4rem;
    }
    img{
        width:100%;
    }
}